<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>895717559587-ej91svd94kqnjsj385mbqsivk9508f1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895717559587-ej91svd94kqnjsj385mbqsivk9508f1a</string>
	<key>API_KEY</key>
	<string>AIzaSyBkK_zuJ_xXFclblMD7HAYozQTxoIQK2U8</string>
	<key>GCM_SENDER_ID</key>
	<string>895717559587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sinequanongames.burningnum</string>
	<key>PROJECT_ID</key>
	<string>burningnum</string>
	<key>STORAGE_BUCKET</key>
	<string>burningnum.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895717559587:ios:5af4e95cf90ed6e5105096</string>
</dict>
</plist>